@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        @apply bg-[linear-gradient(to_bottom,_#5F8FB0_0svh,_#5dd2eb_20svh,_#5dd2eb_50svh,_#5dd2eb_80svh,_#5F8FB0_100svh)] dark:bg-[linear-gradient(to_bottom,_#21323e_0svh,_#1f4851_20svh,_#1f4851_50svh,_#1f4851_80svh,_#21323e_100svh)]
    }
    p {
        @apply text-dark dark:text-white
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}